*{
  margin: 0;
  padding: 0;
}

body{
  justify-content: center;
  align-items: center;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 15px;
  padding: 100px ;
  max-width: 1400px;
}

.daniel{
  background-color: hsl(263, 55%, 52%);
  color: hsl(260, 100%, 95%);
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 81%), 0 6px 20px 0 hsl(0, 0%, 81%);
  z-index: 1;
}

.daniel > .background{
  font-size: large;
}

.jonathan{
  background-color: hsl(224, 10%, 45%);
  color: hsl(260, 100%, 95%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 81%), 0 6px 20px 0 hsl(0, 0%, 81%);
  align-items: center;
  justify-content: center;
}

.jonathan > .background{
  font-size: large;
}

.kira{
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 10%, 45%);
  grid-row: span 2;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 81%), 0 6px 20px 0 hsl(0, 0%, 81%);
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.kira > .background{
  font-size: large;
}

.jeanette{
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 10%, 45%);
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 81%), 0 6px 20px 0 hsl(0, 0%, 81%);
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;

}

.jeanette > .background{
  font-size: large;
}

.patrick{
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
  grid-column: span 2;
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 81%), 0 6px 20px 0 hsl(0, 0%, 81%);
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.patrick > .background{
  font-size: large;
}

.testimonial{
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.author-photo{
  border-radius: 50%;
}

.author-photo{
  margin-right: 15px;
}

 .author-text > p{
  display: inline-block;
  font-size: 15px;
}
