*{
  margin: 0;
  padding: 0;
}

body{
  justify-content: center;
  align-items: center;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 15px;
  padding: 2rem;
}

.quotation{
  z-index: -1;
  justify-content: right;
  align-items: right;
}
.daniel{
  background-color: hsl(263, 55%, 52%);
  color: hsl(260, 100%, 95%);
  align-items: right;
  justify-content: right;
  grid-column: span 2;
  border-radius: 5px;
  padding: 10px;
}

.author-photo{
  border-radius: 50%;
  display: inline;
}
article{
  display: inline;
}

.jonathan{
  background-color: hsl(224, 10%, 45%);
  color: hsl(260, 100%, 95%);
  border-radius: 5px;
  padding: 10px;
}